<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>seBD Management</title>
  </head>
  <body>
    <h1>Weeds</h1>
    <ul>
      <li th:each="weed : ${weeds}">
        ID: <span th:text="${weed.id}">ID</span> |
        Name: "<span th:text="${weed.name}">Name</span>" |
        Weeks til grown: <span th:text="${weed.weeksTilGrown}">weeksTilGrown</span>
      </li>
    </ul>
    <div>
      <p>add new weed</p>
      <form method="POST" th:action="@{/manage/add}" id="addWeedForm">

        <label for="name">Name: </label>
        <input type="text" name="name"/><br/>

        <label for="weeksTilGrown">Weeks til grown</label>
        <input type="text" name="weeksTilGrown"/><br/>

        <input type="submit" value="Add"/>
      </form>
    </div>
    <div>
      <p>delete weed</p>
      <form method="POST" th:action="@{/manage/delete}" id="deleteWeedForm">
        <label for="id">ID</label>
        <input type="text" name="id"/><br/>

        <input type="submit" value="delete"/>
      </form>
    </div>
    <div th:if="${error}">
      Unable to login. Check your username and password.
    </div>
    <form method="GET" th:action="@{/}" id="backForm">
      <input type="submit" value="Back"/>
    </form>
  </body>
</html>